@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-mate-white text-mate-grey dark:bg-mate-grey dark:text-mate-white list-none overscroll-none overflow-x-hidden;

  scroll-behavior: smooth;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}