---
import ContactForm from "@/components/ContactForm";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Contact Us">
  <div class="flex pt-16 md:pt-24 lg:pt-32 items-center px-8">
    <ContactForm client:load />
    <div class="hidden lg:block w-1/2">
      <img
        src="https://res.cloudinary.com/drheg5d7j/image/upload/v1714013217/YATS_mate_qev4wu.webp"
        alt=""
        class="scale-x-[-1]"
      />
    </div>
  </div>
</Layout>
