---
import { ArrowRightIcon } from "@radix-ui/react-icons";

import MailingForm from "@/components/forms/MailingForm";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="w-full flex flex-col justify-center items-center pt-24 md:pt-32 lg:pt-40 pb-16 md:pb-20 lg:pb-24 text-center"
  >
    <div
      class="text-sm sm:text-base pb-6 font-bold text-mate-green dark:text-mate-light-green"
    >
      Ya Tú Sabes
    </div>
    <h2
      class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold text-mate-grey dark:text-mate-white px-12 md:px-16 lg:px-20"
    >
      A Modern Productivity Tool Suite
    </h2>
    <div
      class="text-mate-muted-dark dark:text-mate-muted-light lg:text-lg text-base pt-10 px-12 max-w-screen-sm"
    >
      Our applications are designed to make your life easier and help you focus
      on the things that matter
    </div>
    <div class="pt-12">
      <a
        class="justify-center whitespace-nowrap font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-stone-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-stone-950 dark:focus-visible:ring-stone-300 bg-mate-muted-dark text-mate-white hover:bg-mate-muted-dark/80 dark:bg-mate-green dark:text-stone-50 dark:hover:bg-mate-green/80 h-11 rounded-md px-8 flex gap-3 items-center pr-5 text-base"
        href="/#products"
      >
        Check out our products
        <ArrowRightIcon />
      </a>
    </div>
    <div class="pt-32 px-16 lg:px-24 hidden md:block">
      <img
        src="https://res.cloudinary.com/drheg5d7j/image/upload/v1714015567/Yats_pouring_water_no_background_1_ho1org.webp"
        alt=""
      />
    </div>
  </section>
  <div class="border-b dark:border-mate-white/10 w-full"></div>
  <section
    class="flex flex-col lg:flex-row items-center gap-12 lg:gap-24 max-w-screen-xl justify-center py-16 md:py-20 lg:py-24 px-8 xs:px-16"
    id="products"
  >
    <div class="mx-auto lg:mx-auto w-11/12 sm:w-4/5 md:w-3/4 lg:w-1/2">
      <div
        class="text-sm sm:text-base pb-6 font-bold text-mate-green dark:text-mate-light-green"
      >
        Connect your informal teams
      </div>
      <h3
        class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-mate-grey dark:text-mate-white"
      >
        Team Send
      </h3>
      <div
        class="text-mate-muted-dark dark:text-mate-muted-light lg:text-lg text-base py-12 max-w-screen-sm"
      >
        Coordinate emails, SMS, and GroupMe messages effortlessly from a single
        interface. Stay connected across all platforms with Team Send
      </div>
      <ul class="pl-5 list-disc space-y-4">
        <li class="">
          Schedule messages up to a year in the future and send them to your
          team members at the perfect time
        </li>
        <li class="">
          Include up to 3 different reminders to ensure your team never misses a
          beat
        </li>
        <li class="">
          Create recurring messages to make your life easier and allow you to
          focus on more important tasks
        </li>
      </ul>
    </div>
    <div
      class="w-11/12 sm:w-4/5 md:w-3/4 mx-auto lg:w-2/3 relative flex lg:-mx-4 justify-center pt-4 rounded-md"
    >
      <img
        src={undefined}
        alt=""
        class="rounded-md team-send-img1 shadow-2xl"
      />
    </div>
  </section>
  <div class="border-b dark:border-mate-white/10 w-full"></div>
  <section
    class="flex flex-col-reverse lg:flex-row items-center gap-12 lg:gap-24 max-w-screen-xl justify-center py-16 md:py-20 lg:py-24 px-8 xs:px-16"
  >
    <div
      class="w-11/12 sm:w-4/5 md:w-3/4 mx-auto lg:w-2/3 flex flex-wrap lg:-mx-4 justify-center pt-4 rounded-md"
    >
      <img
        src={undefined}
        alt=""
        class="rounded-md team-send-img2 shadow-2xl"
      />
    </div>
    <div class="mx-auto lg:mx-auto w-11/12 sm:w-4/5 md:w-3/4 lg:w-1/2">
      <div
        class="text-sm sm:text-base pb-6 font-bold text-mate-green dark:text-mate-light-green"
      >
        Connect your communication channels
      </div>
      <h3
        class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold king-wide text-mate-grey dark:text-mate-white"
      >
        Organize Efficently
      </h3>
      <div
        class="text-mate-muted-dark dark:text-mate-muted-light lg:text-lg text-base py-12 max-w-screen-sm"
      >
        Team Send is the only platform that allows you to connect all your
        informal communication channels in one place. Coordinate with your team
        across all platforms.
      </div>
      <ul class="pl-5 list-disc space-y-4">
        <li class="">
          Leverage your existing Twilio account or our built-in SMS
          (pay-as-you-go) to send text messages to your team.
        </li>
        <li class="">
          Send emails to your team members. Just connect your gmail account and
          you're good to go.
        </li>
        <li class="">
          Connect to your GroupMe groups and add bots that can send and listen
          to messages.
        </li>
      </ul>
    </div>
  </section>
  <section>
    <MailingForm client:idle />
  </section>
</Layout>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const darkTeamSendImg1 =
      'https://res.cloudinary.com/drheg5d7j/image/upload/v1714271048/ts-groups-dark_wn3y0b.webp';

    const darkTeamSendImg2 =
      'https://res.cloudinary.com/drheg5d7j/image/upload/v1714271048/ts-group-send-dark_loyysm.webp';

    const lightTeamSendImg1 =
      'https://res.cloudinary.com/drheg5d7j/image/upload/v1714271048/ts-groups-light_dtmve3.webp';

    const lightTeamSendImg2 =
      'https://res.cloudinary.com/drheg5d7j/image/upload/v1714271048/ts-group-send-light_zxtoqq.webp';

    const teamSendImg1 = document.querySelector(
      '.team-send-img1',
    ) as HTMLImageElement;

    const teamSendImg2 = document.querySelector(
      '.team-send-img2',
    ) as HTMLImageElement;

    function updateImages(prefersDarkMode: boolean) {
      if (prefersDarkMode) {
        document.documentElement.classList.add('dark');
        if (teamSendImg1) teamSendImg1.src = darkTeamSendImg1;
        if (teamSendImg2) teamSendImg2.src = darkTeamSendImg2;
      } else {
        document.documentElement.classList.remove('dark');
        if (teamSendImg1) teamSendImg1.src = lightTeamSendImg1;
        if (teamSendImg2) teamSendImg2.src = lightTeamSendImg2;
      }
    }

    const darkModeMediaQuery = window.matchMedia(
      '(prefers-color-scheme: dark)',
    );
    updateImages(darkModeMediaQuery.matches);

    darkModeMediaQuery.addEventListener('change', (event) => {
      updateImages(event.matches);
    });
  });
</script>
