---
import { ArrowRightIcon } from "@radix-ui/react-icons";

import MailingForm from "@/components/MailingForm";
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section
    class="w-full flex flex-col justify-center items-center pt-24 md:pt-32 lg:pt-40 pb-16 md:pb-20 lg:pb-24 text-center"
  >
    <div
      class="text-sm sm:text-base pb-6 font-bold text-mate-green dark:text-mate-light-green"
    >
      Discover new data flow
    </div>
    <h2
      class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold tracking-wide text-mate-grey dark:text-mate-white px-12 md:px-16 lg:px-20"
    >
      Convenient Web Applications For Business
    </h2>
    <div
      class="text-mate-muted-dark dark:text-mate-muted-light lg:text-lg text-base pt-10 px-12 max-w-screen-sm"
    >
      Experience seamless business integrations and powerful insights with our
      cutting-edge analytic tools.
    </div>
    <div class="pt-12">
      <Button
        size={'lg'}
        variant={'secondary'}
        className="flex gap-3 items-center pr-5 text-base"
      >
        Check out our products
        <ArrowRightIcon />
      </Button>
    </div>
    <div class="pt-32 px-8 md:px-16 lg:px-24 hidden xs:block">
      <img
      src="https://res.cloudinary.com/drheg5d7j/image/upload/v1714015567/Yats_pouring_water_no_background_1_ho1org.webp"
      alt=""
      />
    </div>
  </section>
  <div class="border-b dark:border-mate-white/10 w-full"></div>
  <section
    class="flex flex-col lg:flex-row items-center gap-16 lg:gap-32 max-w-screen-xl justify-center py-16 md:py-20 lg:py-24 px-8 xs:px-16"
  >
    <div class="mx-auto lg:mx-auto w-11/12 sm:w-4/5 md:w-3/4 lg:w-1/2">
      <div
        class="text-sm sm:text-base pb-6 font-bold text-mate-green dark:text-mate-light-green"
      >
        Discover new data flow
      </div>
      <h3
        class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold tracking-wide text-mate-grey dark:text-mate-white"
      >
        Team Send
      </h3>
      <div
        class="text-mate-muted-dark dark:text-mate-muted-light lg:text-lg text-base py-12 max-w-screen-sm"
      >
        Experience seamless business integrations and powerful insights with our
        cutting-edge analytic tools.
      </div>
      <ul class="pl-5 list-disc space-y-4">
        <li class="">
          Experience seamless business integrations and powerful insights with
          our cutting-edge analytic tools.
        </li>
        <li class="">
          Experience seamless business integrations and powerful insights with
          our cutting-edge analytic tools.
        </li>
        <li class="">
          Experience seamless business integrations and powerful insights with
          our cutting-edge analytic tools.
        </li>
      </ul>
    </div>
    <div
      class="w-11/12 sm:w-4/5 md:w-3/4 mx-auto lg:w-1/2 flex flex-wrap lg:-mx-4 justify-center pt-4"
    >
      <img
        src="https://res.cloudinary.com/drheg5d7j/image/upload/v1713928258/Screenshot_2024-04-23_at_8.07.19_PM_2_uut2mq.webp"
        alt=""
        class="rounded-md"
      />
    </div>
  </section>
  <div class="border-b dark:border-mate-white/10 w-full"></div>
  <section
    class="flex flex-col-reverse lg:flex-row items-center gap-16 lg:gap-32 max-w-screen-xl justify-center py-16 md:py-20 lg:py-24 lg:py-24 px-8 xs:px-16"
  >
    <div
      class="w-11/12 sm:w-4/5 md:w-3/4 mx-auto lg:w-1/2 flex flex-wrap lg:-mx-4 justify-center pt-4"
    >
      <img
        src="https://res.cloudinary.com/drheg5d7j/image/upload/v1713928258/Screenshot_2024-04-23_at_8.07.19_PM_2_uut2mq.webp"
        alt=""
        class="rounded-md"
      />
    </div>
    <div class="mx-auto lg:mx-auto w-11/12 sm:w-4/5 md:w-3/4 lg:w-1/2">
      <div
        class="text-sm sm:text-base pb-6 font-bold text-mate-green dark:text-mate-light-green"
      >
        Discover new data flow
      </div>
      <h3
        class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold tracking-wide text-mate-grey dark:text-mate-white"
      >
        Team Send
      </h3>
      <div
        class="text-mate-muted-dark dark:text-mate-muted-light lg:text-lg text-base py-12 max-w-screen-sm"
      >
        Experience seamless business integrations and powerful insights with our
        cutting-edge analytic tools.
      </div>
      <ul class="pl-5 list-disc space-y-4">
        <li class="">
          Experience seamless business integrations and powerful insights with
          our cutting-edge analytic tools.
        </li>
        <li class="">
          Experience seamless business integrations and powerful insights with
          our cutting-edge analytic tools.
        </li>
        <li class="">
          Experience seamless business integrations and powerful insights with
          our cutting-edge analytic tools.
        </li>
      </ul>
    </div>
  </section>
  <section>
    <MailingForm client:idle />
  </section>
</Layout>
