---
import { ViewTransitions } from "astro:transitions";
import Nav from "@/components/nav/Nav.astro";
import Posthog from "@/components/posthog.astro";
import { Toaster } from "@/components/ui/toaster";
import "../styles/globals.css";

interface Props {
	title?: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={description ??
        'Yats is working to develop cutting-edge software solutions aimed at simplifying processes that are currently over-engineered or lacking effective solutions. '}
    />
    <title>{title ?? 'YATS: Ya Tú Sabes'}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900"
      rel="stylesheet"
    />
    <ViewTransitions />
    <Posthog />
  </head>
  <body>
    <div class="flex min-h-screen flex-col items-center gap-4 font-sans">
      <Nav />
      <main class="w-full max-w-screen-xl flex-1 pt-16">
        <div>
          <slot />
        </div>
      </main>
      <footer
        class="flex w-full shrink-0 flex-col items-center gap-2 border-t px-4 py-6 text-xs text-mate-muted-dark sm:flex-row md:px-6 dark:border-mate-white/10 dark:text-mate-muted-light"
      >
        <p class="">
          © {new Date().getFullYear()} Yats Co. All rights reserved.
        </p>
        <nav class="flex gap-4 sm:ml-auto sm:gap-6">
          <a class="underline-offset-4 hover:underline" href="/terms">
            Terms of Service
          </a>
          <a class="underline-offset-4 hover:underline" href="/privacy"
            >Privacy</a
          >
        </nav>
      </footer>
    </div>
    <Toaster client:idle />
  </body>
</html>
